.reservar-grid {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  justify-content: flex-start;
  width: 100%;
}

.details img {
  width: 40%;
  min-width: 200px;
  max-height: 300px;
  padding: 2rem 0;
  margin: auto;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.details1 {
  text-align: left;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
}

.details1 h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--text);
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--primary);
  padding-bottom: 0.5rem;
  max-width: 100%;
}

.details1 p {
  font-size: smaller;
  line-height: 1.4;
  color: var(--text-50);
  text-align: left;
  max-width: 100%;
}

@media (min-width: 768px) {
  .reservar-grid {
    grid-template-columns: 1.5fr 1fr;
  }

  .details {
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
  }

  .details img {
    width: 40%;
    min-width: 100px;
    max-height: 280px;
  }

  .details1 {
    padding: 0;
    flex: 1;
  }
}

@media (min-width: 1024px) {
  .reservar-grid {
    padding: 1.3rem 0;
    padding-left: 2rem;
    margin: 0 auto;
  }

  .details img {
    width: 35%;
    min-width: 200px;
    max-height: 350px;
  }

  .details1 h1 {
    font-size: 2.2rem;
    padding: 0;
  }

  .details1 p {
    font-size: 1.1rem;
    max-width: 90%;
  }
}
