.reservar-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;
  justify-content: center;
}

.details{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.reservar-grid img {
  max-width: 400px;
  max-height: 400px;
  width: 100%;
  height: auto;

  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}