.layoutContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: var(--background);
}

.mainContent ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.app-nav {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

@media (max-width: 768px) {
  .mainContent {
    padding-bottom: 70px;
  }
}