.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.error{
  color: red;
  font-size: 0.8rem;
}

.form input[type="datetime-local"]{
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
}