.footer {
  background-color: var(--footer-background, var(--accent));
  color: var(--footer-text-color, #ffffff);
  padding: 1% 0;
  text-align: center;
  z-index: 1000;
}

.text {
  font-size: 0.875rem;
  color: var(--footer-text-color, #cccccc90);
}
