.app-header {
  display: flex;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 3%;
}

.app-header a{
  display: flex;
  margin: 0.7% 2%;
}

.app-header img{
  margin-right: 1rem;
}

.app-header h3{
  color: #fff;
}