.botonflotante {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  color: var(--background);
  border-radius: 8px;
  background-color: var(--accent);
  cursor: pointer;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botonflotante:hover {
  background-color: var(--secondary);
  transform: scale(1.03);
}

.title {
  color: var(--primary);
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  padding-bottom: 0.5rem;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 4px;
  background-color: var(--accent);
}

.userId {
  color: var(--secondary);
  font-size: 0.9rem;
  font-family: monospace;
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .usersList {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
  }
}

@media (max-width: 768px) {

  .title {
    font-size: 2.2rem;
    margin-bottom: 2.5rem;
  }

  .botonflotante {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    bottom: 6rem;
    right: 1.5rem;
  }
}
@media (max-width: 480px) {
  .botonflotante {
    right: 1rem;
    bottom: 6rem;
    padding: 1rem;
    font-size: 1rem;
  }
}
