.bici-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
  .bici-card{
    margin: 3rem 0;
  }
}
